<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www.d-wolves.com/dworder/dworder_app/dworder.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.d-wolves.order2015ss</string>
				<key>bundle-version</key>
				<string>1.0216.1225</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>与狼共舞订货</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
